/*
* @Author: Rosen
* @Date:   2017-05-18 19:30:20
* @Last Modified by:   Rosen
* @Last Modified time: 2017-05-23 20:03:49
*/
/* 通用头部导航 */

.header .logo{
    position: absolute;
    left: 30px;
    top: 34px;
    display: block;
    font-size: 36px;
    color: #5CACEE;
    font-weight: bold;
    text-decoration: none;
}

.header .search-con{
    padding: 40px 0 30px 250px;
}
.header .search-con .search-input{
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #5CACEE;
    outline: none;
}
.header .search-con .search-btn{
    position: absolute;
    height: 44px;
    width: 80px;
}

/* 面包屑导航 */
.crumb{
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    border-top: 2px solid #5CACEE;
}

@media(max-width: 500px){
    .header .logo{
        font-size: 50px;
    }
    .header .search-con{
        font-size: 50px;
        padding: 40px 0 30px 320px;
    }
    .header .search-con .search-btn{
        font-size: 50px;
        height: 90px;
        width: 140px;
    }
    .header .search-con .search-input{
        font-size: 50px;
        width: 510px;
        height: 70px;
    }
    .crumb{
    font-size: 35px;
}
}/*
* @Author: Rosen
* @Date:   2017-05-17 14:16:54
* @Last Modified by:   Rosen
* @Last Modified time: 2017-05-17 16:31:15
*/
.nav{
    background: #eee;
    height: 30px;
    line-height: 30px;   
}
/* 用户部分 */
@media (max-width: 500px){
	.nav .user{
	font-size: 25px;
    float: left;
}
.nav .nav-list{
	font-size: 25px;
    float: right;
}
}
.nav .user{
    float: left;
}
.nav .user.login{
    display: none;
}
.nav .user .link{
    margin-right: 5px;
}
/* 导航链接部分 */
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}
/*
* @Author: Rosen
* @Date:   2017-05-19 17:39:34
* @Last Modified by:   Rosen
* @Last Modified time: 2017-05-19 19:48:20
*/
/* 导航主体 */
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #6495ED;
}
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}

@media (max-width: 500px){
	.nav-side .nav-item .link{
    color: #888;
    font-size: 25px;
}
}/*
* @Author: Rosen
* @Date:   2017-05-24 11:04:03
* @Last Modified by:   Rosen
* @Last Modified time: 2017-05-24 17:11:30
*/
.form-line{
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.form-line .input{
    height: 25px;
    line-height: 25px;
    width: 200px;
    font-size: 14px;
}