<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="eshop">
<meta name="description" content="ESHOP电子产品公司">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=100px, initial-scale=1, maximum-scale=1">

        <title>关于页面 - ESHOP电子</title>
    <link href="../css/common.css?5fb466d57efeffeab18b" rel="stylesheet"><link href="../css/about.css?5fb466d57efeffeab18b" rel="stylesheet"></head>
    <body>
        <div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">登录</span>
                <span class="link js-register">注册</span>
            </span>
            <span class="user login">
                <span class="link-text">
                    欢迎，
                    <span class="username"></span>
                </span>
                <span class="link js-logout">退出</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="link" href="./cart.html">
                    <i class="fa fa-shopping-cart"></i>
                    购物车(<span class="cart-count">0</span>)
                </a>
            </li>
            <li class="nav-item">
                <a class="link" href="./order-list.html">我的订单</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./user-center.html">个人中心</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./about.html">关于eshop</a>
            </li>
        </ul>
    </div>
</div>
        <div class="header">
    <div class="w">
        <a class="logo" href="./index.html">ESHOP电子</a>
        <div class="search-con">
            <input class="search-input" id="search-input" placeholder="请输入商品名称"/>
            <button class="btn search-btn" id="search-btn">搜索</button>
        </div>
    </div>
</div>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">ESHOP</a>
                    <span>></span>
                    <span class="link-text">关于页面</span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <div class="panel">
                <h1 class="panel-title">关于我们</h1>
                <div class="panel-body">
                    ESHOP电子产品有限公司
                </div>
            </div>
        </div>
        <div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.sise.com.cn" target="_blank">华软</a> |
            <a class="link" href="https://www.baidu.com" target="_blank">百度</a> |
            <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a> |
            <a class="link" href="https://www.zhihu.com" target="_blank">知乎</a>
        </div>
        <p class="copyright">
            Copyright © 2017 eshop.com All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>
    <script type="text/javascript" src="../js/base.js?5fb466d57efeffeab18b"></script><script type="text/javascript" src="../js/about.js?5fb466d57efeffeab18b"></script></body>
</html>